<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div style="background: #a1ccad; padding:20px;">
    <h1>Task Manager</h1>
</div>
<div>
    <p>
        <a href="/">Powrót do listy</a>
    </p>
</div>
<br />
<form action="/dodajNoweZadanie" method="post" th:object="${toBedzieNoweZadanie}">
    <p>Nazwa:              <input type="text" th:field="*{name}" /> </p>
    <p>Deadline:           <input type="${#dates.format(sprint.releaseDate, 'dd-MMM-yyyy')}" th:field="*{deadline}" /></p>
    <p>Data ukończenia:    <input type="${#dates.format(sprint.releaseDate, 'dd-MMM-yyyy')}" th:field="*{executionDate}" /></p>
    <p>Skończone:          <input type="checkbox" th:field="*{finished}" th:value="${true}" /> </p>
    <p>Czas wykonania (w godz.): <input type="number" th:field="*{timeSpent}" /></p>
    <p>Opis:               <textarea  rows = "5" cols = "80" th:field="*{description}" /></p>
    <p> <input type="submit" value="Dodaj nowe zadanie" /></p>

</form>

</body>
</html>