<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<div style="background: #a1ccad; padding:20px;">
    <h1>Task Manager</h1>
</div>
<div>
    <p>
        <a href="/">Powrót do listy</a>
    </p>
</div>
<br />
<form action="/dodajNoweZadanie" method="post" th:object="${toBedzieNoweZadanie}">
    <p>Nazwa:              <input type="text" th:field="*{name}" /> </p>
    <p>Deadline:           <input type="date" th:field="*{deadline}" /></p>
    <p>Data ukończenia:    <input type="date" th:field="*{executionDate}" /></p>
    <p>Skończone:          <select name="nazwa">
    <option>Tak</option>
    <option selected="selected">Nie</option>
</select> </p>
    <p> Czas wykonania: <input type="number" th:field="*{timeSpent}" /></p>
    <p>Opis:               <textarea  rows = "5" cols = "80" th:field="*{description}" /></textarea> </p>
    <input type="submit" value="Dodaj nowe zadanie" />
</form>

</body>
</html>