<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div style="background: #a1ccad; padding:20px;">
<h1>Task Manager</h1>
</div>

<a href ="/dodajZadanie">Dodaj nowe zadanie</a>
<h2>Zapisane zadania:</h2>

<div th:if="${!lista.isEmpty()}">
    <p th:each="task: ${lista}" >
        <a th:href="${'/zadanie?id=' + task.id}" th:text="${task.name}" />
    </p>
</div>
<div th:if="${lista.isEmpty()}">
    <h3>Nie zapisano jeszcze żadnego zadania</h3>
</div>
</body>
</html>
